<section id="about" class="about">
  <div class="container">
    <div class="section-header">
      <h2>{{ translate('about.title') }}</h2>
      <p class="section-subtitle">{{ translate('about.subtitle') }}</p>
    </div>

    <div class="about-content">
      <p>{{ translate('about.paragraph1') }}</p>
      <p>{{ translate('about.paragraph2') }}</p>
      <p>{{ translate('about.paragraph3') }}</p>

      <div class="about-highlights">
        <div class="highlight">
          <span class="highlight-number">{{ yearsOfExperience }}+</span>
          <span class="highlight-text">{{ translate('about.experience') }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
