<section id="about" class="about">
  <div class="container">
    <div class="section-header">
      <h2>{{ translate('about.title') }}</h2>
      <p class="section-subtitle">{{ translate('about.subtitle') }}</p>
    </div>
    
    <div class="about-content">
      <div class="about-text">
        <p>{{ translate('about.paragraph1') }}</p>
        
        <p>{{ translate('about.paragraph2') }}</p>
        
        <p>{{ translate('about.paragraph3') }}</p>
        
        <div class="about-highlights">
          <div class="highlight">
            <span class="highlight-number">2+</span>
            <span class="highlight-text">{{ translate('about.experience') }}</span>
          </div>
        </div>
      </div>
      
      <div class="about-image">
        <img src="https://images.pexels.com/photos/3184291/pexels-photo-3184291.jpeg?auto=compress&cs=tinysrgb&w=600" 
             alt="Developer workspace with multiple monitors and code">
      </div>
    </div>
  </div>
</section>